$color-light-lemon:#FBF7ED; //header color

$color-light-green:#008060; //button color

$color-dark-green:#004C3F; //text color

$color-light-grey:#505151; // header text color

$color-text-grey:#212326; // header hover color

$color-text-light-grey:#F0F1F2;

$color-light2-grey:#42474c;