.white{
    @include respond(phone){
       
       
 }

 
  
    &__loader{
        @include respond(tab-land){
            flex-direction: column;
           /* width: 100%;*/
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            
           }
    }
   
    

    &__text{
        
        
    }

    &__text1{
       display: block;
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 4rem;
       line-height: 4.3rem;
       font-weight: 400;
       font-family: Arial, Helvetica, sans-serif;
       margin-bottom: 1.5rem;
       margin-top: 10rem;
       color: #212326;
      
      
      
    }

    &__text2{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        font-size: 2rem;
        line-height: 2.1rem;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 1rem;
        color: #6b7177;
       
    }

    &__text3{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        font-size: 2rem;
        line-height: 2.1rem;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
        color: #6b7177;
    }


    &__loader{
        display: flex;
        margin-top: 10rem;
    }

    &__img1{
        margin-top: -2rem;
        margin-left: 5rem;
        width: 48%;

        @include respond(tab-land){
            justify-content: center;
            align-items: center;
            
           }

       
    }

    
    &__load{
        margin-top: 10rem;
        height: 50%;
        @include respond(tab-land){
            
            width: 90rem;
           }
    }

    &__sell{
        margin-top: 10rem;
        margin-left: 5rem;
        margin-bottom: 7rem;
    }

    &__sell1{
        
        font-size: 2.9rem;
        line-height: 5rem;
        font-weight: 400;
        
        font-family: Arial, Helvetica, sans-serif;
        color: #212326;
        margin-bottom: 2rem;
    }

    &__sell2{
       
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: 400;
        
        font-family: Arial, Helvetica, sans-serif;
        color: #6b7177;
        margin-bottom: 2rem;
    }

    &__sell3{
       
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 700;
        
        font-family: Arial, Helvetica, sans-serif;
        color:$color-light-green;
        cursor: pointer;

        & span{
            
            margin-left:3px;
            
            cursor: pointer;
        }

        &:hover{

            & span{
                margin-left:4px;
            }
    
        }
    }
}